.commentContainer {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    color: #15191d;
    background: #f1f1f3;
    border-top-color: #cbcdd0;
    border-right-color: #c3c6c9;
    border-bottom-color: #b5b9bd;
    border-left-color: #c3c6c9;
    border-radius: 4px;
}

.userInfo {
    flex: 10%;
    float: left;
    text-align: center;
    background-color: #e3e2e2;
    border-radius: 4px;
}

.userComment {
    flex: 80%;
    float: left;
    padding: 12px;
}

.avatar {
    width: 70px;
    margin-top: 10px;
    height: auto;
}

.authorName {
    padding: 10px 0;
    font-size: 15px;
    line-height: 1.2;
    color: #1d3e5c;
}

.time {
    color: rgba(0, 0, 0, 0.65);
    padding-bottom: 5px;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.comment {
    font-size: 15px;
    padding: 10px;
}