.moduleContainer {
    border: 1px solid #d9d9d9;
    color: #1177d1;
    /*font-size: 15px;*/
    /*line-height: 18px;*/
}

.moduleContainer:empty{
    border: none;
}

.moduleContainer > div:nth-child(even) {
    background-color: lightcyan;
}

.moduleContainer > div:nth-child(odd) {
    background-color: #fff;
}

.moduleContainer > div:last-child {
    border-bottom: none;
}

.module {
    padding: 8px 15px;
    border-left: 4px solid #1177d1;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
     align-items: center;
    justify-content: space-between;
}

.moduleTitle{
    font-weight: 500;
}

.dragIcon {
    margin-right: 20px;
    color: #5c5c5c;
}

.actionArea > * {
    margin: 5px;
}
.actionArea > *:hover {
    color: #1177d1;
}

.deleteIcon {
  color: #e44749;
  margin-right: 10px;
}
.editIcon {
  color: #1890ff;
  margin-right: 10px;
}

.moduleActions {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-self: center;
}

.orderAlert {
    font-size: 20px;
    display: flex;
    align-self: center;
    color: #ff4d4f;
    cursor: pointer;
    padding: 3px;
}

.orderAlert:hover {
    background-color: #fafafa;
}