.adminContent {
    margin: 15px 24px 0 24px;
    padding: 15px 24px;
    background: #fff;
    /* background: #fafafa; */
    /*min-height: 100%;*/
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.15);
}

.editor-class {
    height: 275px !important;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}
