.content {
    margin: 15px 12px 0 12px;
    /*padding: 15px 12px;*/
    min-height: 100%;
    border-radius: 2px;
    display: flex;
}

.contentLeft {
    flex: 70%;
    padding: 0 10px;
}

.contentLeft > * {
    margin-bottom: 20px;
}

.contentRight {
    flex: 30%;
    padding: 0 10px;
}

.contentRight > * {
    margin-bottom: 20px;
}

.cardBody {
    color: #23282d;
    padding: 0 5px;
}

.formItem {
    margin-bottom: 10px;
}

.formHeading {
    font-weight: 500;
}

.formHeading > i {
    margin-right: 15px;
}