.container {
    display: flex;
    color: #23282d;
}

.left {
    flex: 40%;
    padding: 0 15px;
}

.addTitle {
    font-weight: 500;
    margin-bottom: 12px;
}

.formItem {
    margin: 1.2em 0;
}

.right {
    flex: 60%;
    padding: 0 10px;
}
