.assignmentContent {
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    font-size: 15px;
    line-height: 22px;
    min-height: 50vh;
}

.assignmentContent h4 {
    color: #f98012;
}

.assignmentContent > div {
    margin-bottom: 20px;
}

/*File area*/
.fileContainer {
    margin: 7px;
}

.deleteFile{
    visibility: hidden;
    color: #eb2f96;
    padding: 7px;
    margin-right: 3px;
    cursor: pointer;
}

.fileContainer:hover .deleteFile {
    visibility: visible;
}

.assignmentContent .ql-editor{
    min-height: 50px;
}

.table {
    width: 100%;
}
.table > *:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
}

.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.divider {
    margin: 10px 0;
}

.editButton {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
