.icon {
    margin-right: 7px;
    color: #00a0e9;
}

.stepsContent {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 220px;
    padding: 25px;
    width: 100%;

}

.stepsContainer {
    margin: 50px 0;
    color: red;
    position: relative;
}

.progressIcon {
    display: block;
    font-size: 30px;
    padding: 10px;
}
.actions {
    text-align: center;
}