.surveyHeader {
    width: 50%;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}

.surveyLevel {
    padding: 1em;
}

.addQuestion {
    margin: 10px 0 30px 0;
    text-align: center;
}
