.quizContainer {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 22px;
    min-height: 50vh;
}

.quizContainer > h4 {
    color: #f98012;
}

.divider {
    margin-top: 10px;
}

.quizInfo{
    display: flex;
    width: 100%;
}

.fields {
    flex: 50%;
    font-weight: bold;
}

.fields > div {
    width: 100%;
    text-align: right;
    padding: 7px 10px;
}

.values {
    flex: 50%;
}

.values > div {
    width: 100%;
    text-align: left;
    padding: 7px 10px;

}

.settingButton{
    width: 100%;
    text-align: center;
    margin: 20px;
}

.breadcrumb {
    color: #2e6da4;
    padding: 15px 0;
}

.breadcrumb i {
    margin-right: 8px;
}

.actionArea {
    text-align: center;
    margin: 20px 0;
}

/*// ******************* RESPONSIVE ************************/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .quizContainer{
        width: 100%;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}