.quizContainer {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 22px;
}

.quizContainer > h4 {
    color: #f98012;
}

.divider {
    margin-top: 10px;
}

.quizInfo{
    display: flex;
    width: 100%;
}

.fields {
    flex: 50%;
    font-weight: bold;
}

.fields > div {
    width: 100%;
    text-align: right;
    padding: 7px 10px;
}

.values {
    flex: 50%;
}

.values > div {
    width: 100%;
    text-align: left;
    padding: 7px 10px;

}

.header {
    background-color: #fff;
    padding: 12px 24px 16px 24px;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    line-height: 1.5;
}

.heading {
    margin-top: 8px;
    width: 100%;
    overflow: hidden;
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /*color: #f98012;*/
}

.description {
    padding-top: 12px;
}

.settingButton{
    width: 100%;
    text-align: center;
    margin: 20px;
}