.menu {
  margin-right: 8px;
}


.header {
  position: relative;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  clear: both;
}


.trigger {
  height: 64px;
  padding: calc((64px - 20px) / 2) 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}


.right {
  float: right;
  height: 100%;
  overflow: hidden;
}

.right>* {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.right>*:hover {
  background-color: rgba(0, 0, 0, 0.030);
}

.dropdown{
  padding-right: 30px;
}

.avatarImage{
  margin-top: -5px;
  margin-right: 10px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .search {
    display: none;
  }
  .help {
    display: none;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}