.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container {
    width: 100%;
}

.searchBox {
    width: 40%;

}

.table .ant-table-tbody > tr {
    color: red;
    background-color: #0b6623;
}
