:root {
    --primary-color: var(--antd-wave-shadow-color);
    --secondary-color: #51c419;
    --dangerous-color: crimson;
    --safe-color: #0b6623;
    --warning-color: #fef0db;
    --grey-color: rgba(0, 0, 0, 0.65);
    --light-grey-color: rgba(0, 0, 0, 0.45);
    --header-height: 64px;
    --contact-search-margin: 16px;
    --header-border-height: 2px;
    --message-composer-height: 45px;
    --coursecard-space: 12px;
    --coursecard-banner-width: 218px;
    --coursecard-banner-height: 150px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.adminContent {
    /*margin: 24px 24px 0;*/
    margin: 15px 24px 0 24px;
    padding: 15px 24px;
    background: #fff;
    position: relative;
    border-radius: 2px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.15);*/
}

.centered {
    text-align: center;
}

.Collapsible {
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 15px 0;
    line-height: 1.5;
    border-radius: 2px;
    transition: all 0.3s;
}

.Collapsible__contentInner {
    padding: 12px 20px 12px 50px;
    background-color: #fafafa;
}


.editor-class {
    height: 275px !important;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}

/*********************** ANTD CSS REFACTOR************************/

.ant-collapse-header {
    overflow: hidden;
}

.ant-tabs .ant-tabs-left-content {
    min-height: 80vh;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    text-align: left !important;
}

.ant-steps-item-process .ant-steps-item-title {
    font-weight: 400 !important;
}

h4.ant-typography, .ant-typography h4 {
    color: #f98012 !important;
    line-height: 20px;
    margin: 5px;
}

.ant-tabs-nav .ant-tabs-tab-active {
    background-color: lightcyan;
    text-align: left;
}

/***************   EDITOR   ****************/
.editor-class .ant-form-item-control {
    line-height: 0;
}

.iconEdit {
    position: absolute;
    top: 17px;
    right: 30px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.public-DraftStyleDefault-block {
    margin: 0;
    line-height: 30px;
}


.login-form {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    margin: 10px 0;
}

.ant-form-vertical .ant-form-item {
    padding-bottom: 5px;
}

/********************************** EDITOR ********************************/
.article .ql-toolbar {
    padding: 0;
}

.quiz-content .ql-toolbar {
    padding: 0;
}

.choice-content .ql-toolbar {
    padding: 0;
}

.article .ql-editor {
    min-height: 200px;
}

.circle-icon {
    background: #e2e2e2;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.circle-icon svg {
    margin-top: -17px;
    margin-left: 1px;
}

/************** CALENDAR ****************/
.react-calendar {
    width: 100%;
}

/*// ******************* RESPONSIVE ************************/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .Collapsible__contentInner {
        padding: 10px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .Collapsible__contentInner {
        padding: 10px;
    }

    .ant-modal {
        width: 90% !important;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}