.clear {
    clear: both;
}

.option {
    width: 50%;
    float: left;
}

.form {
    padding: 0 5px;
}
.form > * {
    margin-bottom: 0px;
}

.setting {
    width: 45%;
    float: left;
    margin: 0 10px;
}

.setting > * {
    box-shadow: none;
}

/*// ******************* RESPONSIVE ************************/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .option {
        width: 100%;
    }

    .setting {
        margin: 10px 0 0 0;
        width: 100%;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}