.clear {
    clear: both;
}

.option {
    width: 50%;
    float: left;
}

.form {
    padding: 0 5px;
}
.form > * {
    margin-bottom: 0px;
}

.setting {
    width: 45%;
    float: left;
    margin: 0 10px;
}

.setting > * {
    box-shadow: none;
}